* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Astloch-Regular';
  src: url('./assets/fonts/Astloch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow-Thin';
  src: url('./assets/fonts/Barlow-Thin.ttf') format('truetype');
}

body {
 background-color: #BEFFA7;
 font-family: 'Barlow-Thin', sans-serif;
}

/* verde de la paleta #BEFFA7
rojo de la paleta #FF4000 
Tipografía ornamentada Astloch Regular
Tipografia sin serif Barlow Light */